@media screen and (max-width: 1440px) {
    .eating {
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto;
    }
}


@media screen and (max-width: 1200px) {
    .eating {
        margin-left: 10px;
        margin-right: 10px;
    }
}